.header-icon{
    background: #d2e3c8;
    padding: 8px;
    border-radius: 4px;
    font-size: 15px;
    color: #4f6f52;
    cursor: pointer;
}

.ant-button{
    color: #4f6f52 !important;
}

.header-new {
    padding-top: 5px;
    background-color: #fff;
    border-bottom: 1px solid rgb(240, 228, 228);
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0; 
    top: 0; 
    box-sizing: border-box;
    
    
}


.ant-btn:hover{
    color: #4f6f52 !important;
    border-color: #4f6f52;
}


.custom-header-container {
    background-color: #ffffff; /* Background color for the header */
    padding: 10px; /* Add padding for spacing */
  }
  
  .header-content {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Space between header elements */
    align-items: center; /* Align items vertically */
  }
  
  .header-right-content {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
  }
  
  .header-right-content .avatar-dropdown {
    cursor: pointer; /* Show pointer cursor when hovering over the avatar */
    margin:0; /* Add some spacing between the avatar and other elements */
  }

  .header-right-content .avatar-dropdown .ant-avatar {
    border: 2px solid #fff; /* Add a border around the avatar */
  }
  