
    .navbar {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: black;
    background-color: goldenrod;
    width: 100%;
  }
  
  @media (max-width: 500px) {
    .headerMenu {
      display: none;
     
    }
    .menuIcon {
      display: block; /* Show the menu icon for smaller screens */
    }
  }
  
  @media (min-width: 501px) { /* Adjusted to min-width: 501px to avoid conflicts with max-width: 500px */
    .menuIcon {
      display: none; /* Hide the menu icon for larger screens */
    }
  }
  
  @media (max-width: 500px) {
    .appHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .logo{
      display: none;
    }
  }
  
  
      
      .cart-icon  {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black; /* Adjust color as needed */
      }
      
      .cart-length {
        position: absolute;
        margin-left: 1px;
        font-weight:bold;
        top: -6px;
        color: tomato; /* Adjust as needed */
      }
      