

@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
 
}


    

body {
  background-color: #ecf0f4; 
}

.btn{
  @apply bg-orange-800 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-600 text-white px-6 py-2 rounded-md font-semibold tracking-wide shadow-md transition duration-300
}


